<h1>Cadastrar Usuários</h1>
<form action="/cadUsuario" method="POST">
    <input TYPE="hidden" name="id" value="" />
    <input type="text" name="nome" placeholder="informe o nome"/><br><br>
    <input type="password" name="senha" placeholder="informe a senha"/>
    <br><br>
    <input type="submit" name="conectar">
   <!--<img src="/static/imagens/cachorro.jpeg">-->
</form>

<div id="botoes">
    <a href="#"><div class="redondo">C</div></a>
     <a href="#"><div class="redondo">R</div></a>
    <a href="#"><div class="redondo">U</div></a>
    <a href="#"><div class="redondo">D</div></a>
</div>

<table class="table" >
    <tr>
        <th>Nome</th>
        <th>Senha</th>
        <th>Atualizar</th>
        <th>Excluir</th>
    </tr>
    {{#each doador}}
        <tr>
            <td>{{Nome}}</td>
            <td>{{senha}}</td>
            <td><a href="/update/{{id}}">Modificar</a></td>
            <td><a href="/delete/{{id}}">Apagar</a></td>
         </tr>   
    {{/each}}
</table>
